.App-chatscreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 70%;
    margin: auto;
}

.App-chatscreen > .App-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.App-chatscreen > .App-title h1 {
    margin: 0;
    margin-right: 20px;
    font-size: 3em;
}

.App-chatscreen .App-messages {
    width: 100%;
    height: 300px;
    background: #eeeeee52;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    overflow: auto;
    color: black;
}

.toID-select {
    flex-direction: row;
    display: flex;
}
.chat-input {
    color: black;
}
